<section class="feature">
    <div class="wrapper">
        <div class="section-full-width">
            <ul>
                <li>
                    <span><img src="../../assets/images/1.png"></span>
                    <h3>Editable Theme</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspen Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspen</p>
                </li>
                <li>
                    <span> <img src="../../assets/images/3.png"></span>
                    <h3>Flat Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspen Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspen</p>
                </li>
                <li class="last-child">
                    <span><img src="../../assets/images/2.png"></span>
                    <h3>Reach Your Audience</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspen Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspen</p>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</section>