<section>
    <div class="wrapper">
        <div class="content-section">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh felis sed<br> malesuada. Integer porta sem nec nibh hendrerit imperdiet." </p><br>
            <h3>Jane Hunt</h3>
        </div>
        <div class="images-section">
            <ul>
                 <li style="opacity: 0.3;"><img src="../../assets/images/man.png"></li>
                 <li><img src="../../assets/images/img2.jpg"></li>
                 <li><img src="../../assets/images/man.png"></li>
                 <li><img src="../../assets/images/img1.jpg"></li>
                 <li><img src="../../assets/images/man.png"></li>
                 <li><img src="../../assets/images/lady.png"></li>
                 <li><img src="../../assets/images/man.png"></li>
                 <li><img src="../../assets/images/img2.jpg"></li>
                 <li><img src="../../assets/images/img1.jpg"></li>
                 <li><img src="../../assets/images/lady.png"></li>
                 <li><img src="../../assets/images/man.png"></li>
                 <li><img src="../../assets/images/img1.jpg"></li>
                 <li><img src="../../assets/images/lady.png"></li>
                 <li><img src="../../assets/images/img2.jpg"></li>
                 <li><img src="../../assets/images/man.png"></li>
                 <li><img src="../../assets/images/img1.jpg"></li>
                 <li><img src="../../assets/images/lady.png"></li>
                 <li style="opacity: 0.3;"><img src="../../assets/images/man.png"></li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="content-section">
        <h2>Say Hi & get in touch</h2>
        <p style="font-style: normal;">Lorem ipsum dolor sit amet, consectetur adipiscing elit suspend</p>
            <div class="social">
                <app-social></app-social>
            </div>
   </div>
</section>