<section class="notify-section">
    <div class="wrapper">
        <div class="section-full-width">
            <article class="notify-text flt_L">
                <h3>Get Notified Of Any Updates! </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt nam.Lorem ipsum dolor sit amet,consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt name</p><br>
                <input class="flt_L" type="text" placeholder="Email address">
                <button class="flt_R" type="submit">Notify</button>
            </article>
            <article class="notify-video flt_R">
              <video width="500" height="304" controls="" class="video">
                <source src="../../assets/images/small.mp4" type="video/mp4">
              </video>
            </article>
        </div>
        <div class="clear"></div>
    </div>
</section>
